body {
  background:url('background.jpg') no-repeat 50% 0 fixed;
  background-size: cover;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid rgb(0,0,0);

  .subtitle {
    display: block;
    font-size: 1rem;
  }
}

article {
  margin: {
    top: 1em;
  }
  min-height: 75vh;

  h1, h2, h3, h4, h5, h6 {
    text-decoration: underline;
  }
}

footer {
  .copyright {
    font-size: 0.8rem;
  }
}
