$text-light: rgb(255, 255, 255);
$text-dark: rgb(0, 0, 0);

.navbar {
  padding: 0;
}

body {
  background-color: rgb(212, 225, 231);
  margin: 0 auto;

  background: url('adam-birkett-208251-unsplash.jpg') no-repeat 100% 0%;
  background-size: cover;
  color: $text-light;

  h1, h2, h3, h4, h5, h6 {
    color: transparentize($text-light, .25);
  }

  a {
    color: transparentize($text-light, .25);
  }
}

header {
  border-bottom: 1px solid transparentize($text-light, .50);

  .subtitle {
    display: block;
    font-size: 1rem;
  }

  .brand-image {
    height: 35px;
  }
}

article {

  margin: {
    top: 1em;
  }

  min-height: 75vh;

  h1, h2, h3, h4, h5, h6 {
    text-decoration: underline;
  }

  .badge {
    margin: {
      right: 0.25rem;
    }
  }
}

footer {
  font-size: 0.75rem;

  .copyright {
    font-size: 0.75rem;
  }
}

button {
  &.btn-vsm {
    line-height: 0.5rem;
    padding: 0.5rem 0.5rem;
  }
}

.fa-external-link-alt {
  margin: {
    left: 0.25rem;
  }
}